In [1]:
import pandas as pd

# display non-truncated dataframe
pd.set_option('display.max_colwidth', -1)

/Users/francois/anaconda3/envs/data-science/lib/python3.7/site-packages/ipykernel_launcher.py:4: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  after removing the cwd from sys.path.

In [20]:
path = "data/88milSMS_88522.xltx"
df_raw = pd.read_excel(path, sheet_name="Feuille1", dtype={'DATETIME': str,'SMS_ANON': str})

In [21]:
df = df_raw.drop(columns=['Unnamed: 3'])

In [22]:
df.head()

,NUM_SMS,DATETIME,ID_NUM_TEL,SMS_ANON
0,1,15 sept. 2011 07:28:55,477,"Hey ca va?\nAlors cette rentree?\nVa falloir se trouver un p'tit creneau pour se voir!\nDis moi, est-ce que tu sais quand commence les cours de langue non specialiste?\nBisoux"
1,2,15 sept. 2011 08:02:08,477,Ok super merci! Oui j'y comprends rien du tout moi a cette fac :p\n\nJ'irai me renseigner aussi ( si j'trouve le batiment :) )\nMerci encore!\n\nBonne soiree bisoux!
2,3,15 sept. 2011 08:03:01,477,"Coucou !\nC'est quand la feria de Nimes? \nJ'suis pas bien sure de la faire mais pourquoi pas!\nSinon oui, j'profite de ma derniere semaine de vacance!\nBon courage!\nBisoux"
3,4,15 sept. 2011 08:03:35,477,Coucou :)\nOui ca c'est bien passe!\nAlors je sais pas du tout pour jeudi soir... Non pas que je veuille pas mais je suis pas sure d'etre sur Montpel. J'y serai de sur qu'a partir de lundi prochain car je commence les cours...
4,5,15 sept. 2011 09:05:28,477,On peut se rejoindre quelque part? Tu as cours ou ?

In [23]:
df.dtypes

NUM_SMS       int64
DATETIME      object
ID_NUM_TEL    int64
SMS_ANON      object
dtype: object

In [18]:
# select random rows
df.sample(5)

,DATETIME,ID_NUM_TEL,SMS_ANON
NUM_SMS,,,
63505,13 nov. 2011 02:09:20,394,O.o ???
56703,3 nov. 2011 23:33:00,136,Un peu ! C'est déjà ca :) j'y pense mais je me controle
27061,4 oct. 2011 13:23:21,296,Si ils appel dis que tu m attends devant
25075,2 oct. 2011 21:56:04,390,Je sais. Et j'en ai tiré profit
52118,26 oct. 2011 14:01:39,347,c deja fait ca

In [19]:
# df['date'] = pd.to_datetime(df['DATETIME'])
# df['date'] = df['DATETIME'].astype('str')
df['DATETIME'] = df['DATETIME'].apply(str)

In [7]:
df['DATETIME'].sample(5)

9883     24 sept. 2011 12:06:45
37516    13 oct. 2011 15:12:53
34601    10 oct. 2011 21:47:11
40633    16 oct. 2011 23:05:11
10911    24 sept. 2011 19:16:03
Name: DATETIME, dtype: object

In [8]:
df["NUM_SMS"] = df["NUM_SMS"].astype('int64')
df["ID_NUM_TEL"] = df["ID_NUM_TEL"].astype('int64')

In [9]:
df['date']  = df["DATETIME"].apply(lambda x: str(x))

In [10]:
df.dtypes

NUM_SMS       int64
DATETIME      object
ID_NUM_TEL    int64
Unnamed: 3    float64
SMS_ANON      object
date          object
dtype: object

In [42]:
print(df['date'] .sample() )

75636    1 déc. 2011 09:41:02
Name: date, dtype: object

In [51]:
df['day'] = (df["DATETIME"].str.split(" ", n = 3, expand = True))[0]
df['month'] = (df["DATETIME"].str.split(" ", n = 3, expand = True))[1]
df['year'] = (df["DATETIME"].str.split(" ", n = 3, expand = True))[2]
df['time'] = (df["DATETIME"].str.split(" ", n = 3, expand = True))[3]

In [52]:
df.head()

,NUM_SMS,DATETIME,ID_NUM_TEL,SMS_ANON,day,month,year,time
0,1,15 sept. 2011 07:28:55,477,"Hey ca va?\nAlors cette rentree?\nVa falloir se trouver un p'tit creneau pour se voir!\nDis moi, est-ce que tu sais quand commence les cours de langue non specialiste?\nBisoux",15,sept.,2011,07:28:55
1,2,15 sept. 2011 08:02:08,477,Ok super merci! Oui j'y comprends rien du tout moi a cette fac :p\n\nJ'irai me renseigner aussi ( si j'trouve le batiment :) )\nMerci encore!\n\nBonne soiree bisoux!,15,sept.,2011,08:02:08
2,3,15 sept. 2011 08:03:01,477,"Coucou !\nC'est quand la feria de Nimes? \nJ'suis pas bien sure de la faire mais pourquoi pas!\nSinon oui, j'profite de ma derniere semaine de vacance!\nBon courage!\nBisoux",15,sept.,2011,08:03:01
3,4,15 sept. 2011 08:03:35,477,Coucou :)\nOui ca c'est bien passe!\nAlors je sais pas du tout pour jeudi soir... Non pas que je veuille pas mais je suis pas sure d'etre sur Montpel. J'y serai de sur qu'a partir de lundi prochain car je commence les cours...,15,sept.,2011,08:03:35
4,5,15 sept. 2011 09:05:28,477,On peut se rejoindre quelque part? Tu as cours ou ?,15,sept.,2011,09:05:28

In [53]:
df["day"] = df["day"].astype('int64')
df["year"] = df["year"].astype('int64')

In [54]:
df.dtypes

NUM_SMS       int64
DATETIME      object
ID_NUM_TEL    int64
SMS_ANON      object
day           int64
month         object
year          int64
time          object
dtype: object